name: Full checkup for SimpleRisk Docker images

on:
  workflow_call:
    inputs:
      context_path:
        required: true
        type: string
      dockerfile_path:
        required: true
        type: string
      image_tag:
        required: true
        type: string

jobs:
  verify_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build Docker container
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.context_path }}
          file: ${{ inputs.dockerfile_path }}
          tags: ${{ inputs.image_tag }}
      - name: Run linter with Dockle
        uses: erzz/dockle-action@v1
        with:
          image: ${{ inputs.image_tag }}
          failure-threshold: FATAL
          dockle-host: "unix:///var/run/docker.sock"
      - name: Scan vulnerabilities with Grype
        uses: anchore/scan-action@v3
        with:
          image: ${{ inputs.image_tag }}
          only-fixed: true
          output-format: table
          severity-cutoff: critical
